.home__bottomCard{
  background: #203A62;
border-radius: 21px;
width: 350px;
height: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 1.5rem;
margin-bottom: 2rem;
margin-right: 3rem;
}

.home__cardHeader{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home__cardTitle{
  width: 70%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* text-align: center; */
color: #FFFFFF;
}

.home__cardLogo{
  width: 40%;
  z-index: 0
}

.home__bitlogo{
  position: relative;
  z-index: 2;
}

.home__bitcoin{
  position: relative;
  right: 10px;
  z-index: 1;
  
}

.home__cardDetails{
  width: 100%;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}

.home__cardDesc{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__descOption{
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
text-align: center;
margin-top: 1rem;
color: #FFFFFF;
}

.home__descTitle{
  color: #D0D0D0;
}

.home__descGift{
  align-self: flex-end;
  margin-left: 3px;
}

.home__descValue{
  display: flex;
}


.home__cardButton{
  width: 100%;
  background: #3F8EF7;
border-radius: 9px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
padding-top: 1rem;
padding-bottom: 1rem;
  cursor: pointer;
}

.home--ended{
    background: #F73F3F;
}
